body.dark{
  background:#111;
  color:#ccc;
}

body.dark input[type = text]{
  background:#fff2;
  color:inherit;
  border-color:#222
}

span.askedSpan{
  margin-right:.3em;
  white-space: nowrap;
}

span.right{
  background: rgba(0,255,0,.5);
}
span.wrong{
  background: rgba(255,0,0,.5);
}

#finish{
  width:100%;height:100%;position: fixed;top:0;left:0;backdrop-filter: blur(2px);z-index: 5;display: flex;align-items: center;justify-content: center;padding:1em
}

.disabled{
  pointer-events: none;
}

.menu{
  display: flex;
  gap:1em
}

#responsive-navbar-nav{
  flex-grow: 0;
}